* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** UTILS */

.container {
    max-width: 1180px;
    min-height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.content-section {
    min-height: 700px;
    padding: 50px 0;
}

.bg-white {
    background-color: white;
}

.bg-lightgray {
    background-color: lightgray;
}

.large-col {
    width: 60%;
    height: 650px;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.small-col {
    width: 40%;
    height: 650px;
    background-color: pink;
    border: 1px dashed black;
}

/** GENERICS */

/* HEADER */
header {
    background-color: lightblue;
    height: 100px;
}

.header-content {
    width: 100%;
    background-color: goldenrod;
    border: 1px dashed black;
}

.header-content > * {
    padding: 10px;
}

.logo {
    width: 15%;
}

nav {
    width: 70%;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

ul {
    list-style: none;
}

li {
    padding: 0 5px
}

.login {
    width: 15%;
}

/* MAIN */

.banner-section {
    height: 700px;
    background-color: #00008B;
}

.banner-box {
    width: 1000px;
    height: 600px;
    background-color: #EE82EE;
    border: 1px dashed black;;
}