* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** UTILS */

.container {
    max-width: 1180px;
    min-height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-end {
    justify-content: flex-end;
}

.flex.align-center {
    align-items: center;
}

.flex.align-end {
    align-items: flex-end;
}

.content-section {
    min-height: 700px;
    padding: 50px 0;
}

.tall-content-section {
    min-height: 1000px;
    padding: 50px 0;
}

.bg-white {
    background-color: white;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-darkgray {
    background-color: #23272A;
}

.col-25 {
    width: 25%;
    height: 100%;
    border: 1px dashed white;
}

.col-30 {
    width: 30%;
    height: 650px;
    background-color: #f08080;
    border: 1px dashed black;
}

.col-40 {
    width: 40%;
    height: 650px;
    background-color: pink;
    border: 1px dashed black;
}

.col-60 {
    width: 60%;
    height: 650px;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.col-70 {
    width: 70%;
    height: 650px;
    background-color: #20b2aa;
    border: 1px dashed black;
}

/** GENERICS */

/* HEADER */
header {
    background-color: lightblue;
    height: 100px;
}

.header-content {
    width: 100%;
    background-color: goldenrod;
    border: 1px dashed black;
}

.header-content > * {
    padding: 10px;
}

.logo {
    width: 15%;
}

nav {
    width: 70%;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

ul {
    list-style: none;
}

li {
    padding: 0 5px
}

.login {
    width: 15%;
}

/* MAIN */

.jumbotron-section {
    height: 700px;
    background-color: #00008B;
}

.jumbotron-box {
    width: 1000px;
    height: 600px;
    background-color: #EE82EE;
    border: 1px dashed black;;
}

.content-box {
    height: 900px;
    background-color: green;
    border: 1px dashed black;
}

/* FOOTER */

footer > .content-section {
    padding-top: 10px;
}

.footer-bottom {
    min-height: 100px;
    border-top: 1px solid lightgray;
}

.footer-bottom > .content-box {
    width: 100%;
    height: 70px;
    background-color: #7fffd4;
}

.footer-bottom-logo, .footer-bottom-btn {
    background-color: pink;
    padding: 5px;
    border: 1px dashed black;
}